@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 95vh;
}

.countdown-item {
  color: #111;
  font-size: 10vw;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3.5vw;
  position: relative;
}

.countdown-item span {
  color: #333;
  font-size: 0.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 5vh;
}
